@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Press+Start+2P&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url("Fundo1.jpg");
    background-repeat: no-repeat;
    background-color: #121214;
    color: white;
    font-size: 1.5em;
    text-align: center; /* Centraliza todo o conteúdo */
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-y: hidden;
}

header{
    width: 100%;
    background-image: linear-gradient(180deg,#050599, #111186);
    display: flex;
    text-align: center;
    box-shadow: 7px 7px 7px #00000063;
}

header > h1{
    text-align: center;
    margin-left: 29%;
    position: relative;
}

img#icon{
    margin-top: 5px;
    margin-left: 20px;
    padding: 5px;
    text-align: left;
    width:60px;
    height: 70px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

div#image {
    margin-right: 30px;
}

div#image > img{
    width: 330px;
    height: 470px;
    box-shadow: 7px 7px 7px #00000063;
}

div#text{
    text-align: center;
    width: 32%;
}

h1 {
    font-size: 2em;
}

footer{
    background-image: linear-gradient(180deg,#070746, #030322);
    color: white;
    min-height: 30px;
}
footer p{
    color: white;
    text-align: center;
    margin: auto;
    padding: 15px;
}